---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag),
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <div class="mx-auto flex max-w-7xl justify-between gap-4 px-4 py-8">
    <div class="mx-auto grid grid-cols-2 gap-x-4 gap-y-8">
      {
        posts.map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            imageUrl={post.frontmatter.image.url}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
