---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  pageTitle={frontmatter.title}
  pageDescription={frontmatter.pageDescription}
>
  <div class="grid grid-cols-2">
    <div class="flex flex-col justify-center p-24">
      <h1 class="mb-6 text-5xl font-bold">{frontmatter.title}</h1>
      <p class="mb-4 text-lg text-gray-500">{frontmatter.description}</p>
      {
        frontmatter.liveURL && frontmatter.liveURL !== "" && (
          <a
            class="self-baseline rounded bg-green-50 px-4 py-2 font-semibold text-green-800 hover:bg-green-100"
            href={frontmatter.liveURL}
            target="_blank"
          >
            View Project
          </a>
        )
      }
    </div>
    <div>
      <img
        src={frontmatter.image.url}
        alt=""
        class="h-full max-h-[500px] w-full object-cover object-center"
      />
    </div>
  </div>
  <div class="mx-auto max-w-3xl px-4 py-8">
    <slot />
  </div>
</BaseLayout>
